{% extends "base_site.html" %}

{% block content %}

{% if form.errors %}
<div class="errornote">{{ form.errors }}</div>
{% endif %}

<div id="content-main">
<form method="post" action="{% url django.contrib.auth.views.login %}">
<center>
<table class="login">
<tr><td colspan="2" align="center"><h2>Inicio de Sesión</h2></td></tr>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr><td colspan="2" align="center">
    <input type="submit" value="Iniciar Sesión" /><br>
    <input type="hidden" name="next" value="{{ next }}" />
    <a href="/accounts/password_reset/">¿Olvidó su contraseña?</a>
</td></tr>
</table>
</center>
</form>
</div>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>


{% endblock %}
