{% extends "base_site.html" %}

{% block content %}

<div class="post">
    <h1 class="title">Contactos</h1>
    <div class="entry">
        <p>Se pueden realizar consultas a:
           <ul>
            <li>Tec. Met. Alejandro Max Pasten, Encargado de Area</li>
            <li>Tec. Met. Jorge C. Armoa</li>
            <li>Tec. Met. María Sol Benítez.</li>
           </ul>
        </p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
<ul>
{% include 'links.html' %}
</ul>
</div>
{% endblock %}