<li>
    <h2>Área de Miembros</h2>
    <ul>
        <li><a href="/admin/">Administración de Datos</a></li>
        <li><a href="/cms/">Administración de Contenido</a></li>
        <li><a href="/accounts/profile">Mi Perfil</a></li>
    </ul>
</li>
<li>
    <h2>Enlaces</h2>
    <ul>
        <li><a href="http://www.pol.una.py/" target="_new">Facultad Politécnica</a></li>
        <li><a href="http://www.una.py/" target="_new">Universidad Nacional de Asunción</a></li>
        <li><a href="http://www.meteorologia.org.py/" target="_new">Dirección de Meteorología e Hidrología - DINAC</a></li>
    </ul>
</li>